
@import url(https://fonts.googleapis.com/css?family=Karla);

@media (max-width: 780px)
{
    html, body, main
    {
        width: 100%;
        text-align: center;
        font-family: Karla, sans-serif;
        margin: 0;
        font-size: 16px;
    }
}

nav
{
    width: 100%;
    height: 90px;
    background: #0D47A1;
    position: fixed;
    top: 0px;
    box-shadow: black 0 -11px 21px 9px;
    text-align: left;
    z-index: 4;
}

#linkHolder
{
    display: none;
}

#menuBar a
{
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    padding: 10px;    
}

label[for="menu"]
{
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    height: 70px;
    width: 70px;
    background: url('/images/menu.png') no-repeat center;
    z-index: 6;
}

#menu
{
    display: none;
}

#menu:checked ~ #menuBar
{
    left: 0px;
}

#menuBar
{
    width: 200px;
    position: fixed;
    top: 90px;
    bottom: 0px;
    left: -220px;
    transition: left ease 0.3s;
    box-shadow: black -11px 16px 21px 9px;
    background: #95c9f3;
    z-index: 3;
    padding-top: 20px;
    overflow-y: scroll;
}

#menu:checked ~ .coverAll
{
    display: block;
}

.coverAll
{
    height: 100%;
    width: 100%;
    position: fixed;
    background: black;
    top: 0px;
    left: 0px;
    display: none;
    opacity: 0.3;
    z-index: 3;
}

#sectionTitle
{
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 7;
    color: white;
    font-size: 30px;
}

.band h1
{
    color: black;
}

section h1
{
    color: white;
    margin-top: 0;
    font-size: 35px;
}

section:not(#volunteering_section), #susu_bg
{
    padding: 20px;
}

section:not(.band) section:not(#nightline)
{
    border: 4px solid #90CAF9;
    background: white;
    display: inline-block;
    padding: 10px;
    text-align: left;
    box-shadow: black 0 0px 21px 0px;
    box-sizing: border-box;
    margin: 10px 0;
    width: 100%;
}

.band
{
    box-shadow: black 0 0px 21px 0px;
    position: relative;
    z-index: 2;
}

.band h1
{
    color: black;
}

section.band section:not(#nightline)
{
    border: 4px solid #90CAF9;
    box-shadow: none;
    background: #0D47A1;
    text-align: center;
    color: white;
    margin: 20px;
    padding: 10px;
}

section section header span
{
    font-size: 18px;
    color: #0D47A1;
}

.position:after
{
    content: " | "
}

.pic_area
{
    text-align: center;
    height: 75px;
}

section section footer h3, section section footer p
{
    display: inline;
    font-size: 20px;
}

section section footer div
{
    margin: 10px 0;
}

main > section:not(.band):not(#name_section)
{
    background: radial-gradient(circle farthest-corner, #95c9f3, #0d47a1) center;
}

#me
{
    display: none;
}

#meHolder
{
    border-radius: 50%;
    width: 50%;
    box-shadow: black 0 0px 21px 0px;
    margin-bottom: 10px;
}

#name_section
{
    height: 100vh;
    color: white;
    padding-top: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: url('/images/bg.png') center fixed;
}

#name_section h1
{
    font-size: 35px;
}

#name_section .inner
{
    position: relative;
    align-self: center;
}

#nl_bg
{
    background: url('/images/nl_bg.png') fixed;
    padding: 30px;
}

#nightline
{
    color: white;
}

#nl_logo
{
    width: 100%;
}

#susu_bg
{
    background: url('/images/susu_bg.png') fixed;
    padding-bottom: 103px;
    border-bottom: 5px solid #ed0677;
}

#susu_footer
{
    height: 103px;
    background: url('/images/susu_footer.png') repeat-x bottom;
    position: absolute;
    width: 100%;
    left: 0px;
}

.sweeb
{
    font-weight: bold;
}

body > footer
{
    box-shadow: black 0 0px 21px 0px;
    background: linear-gradient(#6fa5dd, #0D47A1);
    color: white;
    padding: 20px;
}

#social_media a
{
    display: inline-block;
    width: 80px;
    color: white;
    text-decoration: none;
    margin: 25px 18px;
}

#social_media a span
{
    background-image: url('/images/social_media.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: black 4px 4px 20px 0px;
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 10px;
}

#googleplus span
{
    background-position: -762px -354px;
}

#instagram span
{
    background-position: -984px -354px;
}

#twitter span
{
    background-position: -984px -498px;
}

#fb span
{
    background-position: -984px -211px;
}

#email span
{
    background-position: -319px -211px;
}

#linkedIn span
{
    background-position: -97px -498px;
}

#github span
{
    background-position: -762px -498px;
}

#gravatar span
{
    background-position: -319px -354px;
}

footer small a, footer small a:visited
{
    color: white;
}

footer small a:hover
{
    text-decoration: none;
}