/**
 *
 */
@import url(https://fonts.googleapis.com/css?family=Karla);

html, body, main
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Karla;
    margin: 0;
    font-size: 20px;
}

@keyframes dropfade
{
    from
    {
        opacity: 0;
        top: 100px;
    }
    
    to
    {
        opacity: 1;
        top: 0px;
    }
}

section
{
    padding: 30px;
}

nav
{
    width: 100%;
    height: 90px;
    background: #0D47A1;
    position: fixed;
    box-shadow: black 0 -11px 21px 9px;
    text-align: left;
    z-index: 3;
}

nav a
{
    visibility: hidden;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding: 0 30px;
    height: 100%;
}

nav a span
{
    display: block;
    margin-top: 30px;
    position: relative;
    bottom: 0px;
    transition: bottom ease 0.3s;
}

nav a:hover span, nav a.active span
{
     bottom: 15px;
}

h1
{
    font-size: 60px;
    margin: 0px;
}

h2
{
    font-size: 30px;
    margin: 0px;
}

header p
{
    margin-top: 20px;
    font-size: 30px;
}

p
{
    font-size: 20px;
}

#name_section
{
    background: url('/images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: white;
    padding-top: 120px;
    box-sizing: border-box;
}

#name_section .inner
{
    animation: dropfade 1s;
    position: relative;
}

#name_section .inner header
{
    z-index: 1;
}

#me
{
    border-radius: 50%;
    width: 280px;
    box-shadow: black 0 0px 21px 0px;
}

#meHolder
{
    height: 280px;
}

#name_section h1
{
    font-size: 123px;
}

#intro_section
{
    box-shadow: black 0 0px 21px 0px;
    position: relative;
    z-index: 2;
}

#experience_section
{
    background: url('/images/bg2.png');
    background-position: top center;
}

#experience_section h1
{
    color: white;
}

#experience_section section
{
    border: 4px solid #90CAF9;
    background: white;
    display: inline-block;
    width: 650px;
    margin: 20px;
    padding: 10px;
    text-align: left;
    box-shadow: black 0 0px 21px 0px;
}

#experience_section section header span
{
    font-size: 18px;
    color: #0D47A1;
}

.position:after
{
    content: " | "
}

.pic_area
{
    text-align: center;
    height: 75px;
}

#experience_section section footer h3, #experience_section section footer p
{
    display: inline;
    font-size: 20px;
}

#experience_section section footer div
{
    margin: 10px 0;
}

#education_section section#courses div
{
    display: inline-block;
    width: 500px;
    text-align: justify;
}