/**
 *
 */

@keyframes dropfade
{
    from
    {
        opacity: 0;
        top: 100px;
    }

    to
    {
        opacity: 1;
        top: 0px;
    }
}

@keyframes fadeInOut
{
    from
    {
        opacity: 0;
    }
    
    to
    {
        opacity: 1;
    }
}

/** TEXT **/
    @media print, (min-width: 781px)
    {
        html
        {
            font-family: Karla, sans-serif;
            font-size: 20px;
        }
        
        h1
        {
            font-size: 60px;
            margin: 0px;
        }

        h2
        {
            font-size: 30px;
            margin: 0px;
        }

        header p
        {
            margin-top: 20px;
            font-size: 30px;
        }
    }
    
    .sweeb
    {
        font-weight: bold;
    }
    
    .position:after
    {
        content: " | "
    }

    section section footer h3, section section footer p
    {
        display: inline;
        font-size: 20px;
    }

    section section footer h3:after
    {
        content: ": "
    }

    section section footer div
    {
        margin: 10px 0;
    }

@media screen
{
    html, body, main
    {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    /** SECTIONS **/
        section h1
        {
            color: white;
        }

        .band
        {
            box-shadow: black 0 0px 21px 0px;
            position: relative;
            z-index: 2;
        }

        .band h1
        {
            color: black;
        }

        /* Std subsection */
        section:not(.band) section:not(#nightline)
        {
            border: 4px solid #90CAF9;
            background: white;
            display: inline-block;
            width: 650px;
            margin: 20px;
            padding: 10px;
            text-align: left;
            box-shadow: black 0 0px 21px 0px;
            box-sizing: border-box;
        }

        section section header span
        {
            font-size: 18px;
            color: #0D47A1;
        }

        .pic_area
        {
            text-align: center;
            height: 75px;
        }

        /* Band subsection */
        section.band section
        {
            border: 4px solid #90CAF9;
            width: 300px;
            display: inline-block;
            background: #0D47A1;
            text-align: center;
            color: white;
            margin: 20px;
            padding: 10px;
            box-sizing: border-box;
        }

        /* Multiple Bg sections */
        #education_section, #volunteering_section, #casual_section
        {
            padding: 0 !important;
        }

        a.button, a.button:visited, a.button:active
        {
            display: inline-block;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            background: linear-gradient(#6fa5dd, #0D47A1 80%);
            font-weight: bold;
            border: 2px solid #90CAF9;
            text-transform: capitalize;
        }

        a.button:hover
        {
            background: linear-gradient(#0D47A1, #6fa5dd 80%);
        }

        a.button:after
        {
            content: " >";
        }

    /** NAV BAR **/
        nav
        {
            width: 100%;
            height: 90px;
            background: #0D47A1;
            position: fixed;
            box-shadow: black 0 -11px 21px 9px;
            text-align: left;
            z-index: 4;
            overflow: hidden;
        }
        
        @media (min-width: 781px)
        {
            nav
            {
                background-image: url('/images/sprites.png');
                background-position: 0px -1066px;
                background-repeat: no-repeat;
            }
            
            #linkHolder
            {
                position: relative;
                width: 200%;
            }
            
            nav a
            {
                display: inline-block;
                color: white;
                font-weight: bold;
                font-size: 22px;
                text-decoration: none;
                text-align: center;
                padding: 0 20px;
                height: 100%;
                position: relative;
            }

            nav a:not(:last-of-type):after
            {
                display: block;
                position: absolute;
                top: 0px;
                right: -10px;
                content: ">";
                height: 100%;
                padding-top: 30px;
            }

            nav a span
            {
                display: block;
                margin-top: 30px;
                position: relative;
                bottom: 0px;
                transition: bottom ease 0.3s;
            }

            nav a:hover span
            {
                 bottom: 15px;
            }
        }

    /** SIDE BAR **/
        #menu, label[for="menu"]
        {
            display: none;
        }

        @media (max-width: 1115px)
        {
            #menuBar a
            {
                display: block;
                color: #0D47A1;
                font-weight: bold;
                font-size: 18px;
                text-decoration: none;
                text-align: center;
                padding: 10px;    
            }

            #menuBar a:not(:last-of-type):after
            {
                display: block;
                position: absolute;
                content: "▾";
                width: 100%;
                left: 0px;
            }

            label[for="menu"]
            {
                display: block;
                position: fixed;
                right: 0px;
                top: 0px;
                height: 90px;
                width: 90px;
                background: url('/images/sprites.png') #0D47A1 no-repeat;
                background-position: -810px -810px;
                z-index: 5;
            }

            #menu
            {
                display: none;
            }

            #menu:checked ~ #menuBar
            {
                left: 0px;
            }

            #menuBar
            {
                width: 300px;
                position: fixed;
                top: 90px;
                bottom: 0px;
                left: -320px;
                transition: left ease 0.3s;
                box-shadow: black -11px 16px 21px 9px;
                background: #95c9f3;
                z-index: 3;
                padding-top: 20px;
            }

            #menu:checked ~ .coverAll
            {
                display: block;
            }

            .coverAll
            {
                height: 100%;
                width: 100%;
                position: fixed;
                background: black;
                top: 0px;
                left: 0px;
                display: none;
                opacity: 0.3;
                z-index: 2;
            }
        }

    /** NAME SECTION **/
        #name_section
        {
            background: radial-gradient(circle farthest-corner, #95c9f3, #0d47a1) center fixed;
            height: 100vh;
            color: white;
            padding-top: 120px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

        #name_section .inner
        {
            animation: dropfade 1s;
            position: relative;
            align-self: center;
        }

        #name_section .inner header
        {
            z-index: 1;
        }

        #me, #meHolder
        {
            border-radius: 50%;
            width: 280px;
            box-shadow: black 0 0px 21px 0px;
        }

    /** INTRO SECTION **/
        #print_msg
        {
            display: none;
        }


    /** SKILLS SECTION **/
        .skillHolder div
        {
            display: inline-block;
            height: 190px;
            width: 162px;
            margin: 20px;
            font-weight: bold;
        }

        .skillHolder div span
        {
            display: block;
            height: 162px;
            width: 162px;
            background: url('/images/sprites.png') no-repeat;
        }

        #aws span
        {
            background-position: -324px -162px;
        }

        #apache span
        {
            background-position: -486px -162px;
        }

        #bash span
        {
            background-position: -648px -162px;
        }

        #braspag span
        {
            background-position: -810px -162px;
        }

        #c span
        {
            background-position: 0px -324px;
        }

        #cpp span
        {
            background-position: -162px -324px;
        }

        #css span
        {
            background-position: -324px -324px;
        }

        #epqd span
        {
            background-position: -486px -324px;
        }

        #gcp span
        {
            background-position: -648px -324px;
        }

        #git span
        {
            background-position: -810px -324px;
        }

        #html span
        {
            background-position: 0px -486px;
        }

        #java span
        {
            background-position: -162px -486px;
        }

        #js span
        {
            background-position: -324px -486px;
        }

        #linux span
        {
            background-position: -486px -486px;
        }

        #mysql span
        {
            background-position: -648px -486px;
        }

        #oauth span
        {
            background-position: -810px -486px;
        }

        #paypal span
        {
            background-position: 0px -648px;
        }

        #perl span
        {
            background-position: -162px -648px;
        }

        #ps span
        {
            background-position: -324px -648px;
        }

        #php span
        {
            background-position: -486px -648px;
        }

        #putty span
        {
            background-position: -648px -648px;
        }

        #python span
        {
            background-position: -810px -648px;
        }

        #sagepay span
        {
            background-position: 0px -810px;
        }

        #scheme span
        {
            background-position: -162px -810px;
        }

        #sql span
        {
            background-position: -324px -810px;
        }

        #winscp span
        {
            background-position: -486px -810px;
        }

        #xampp span
        {
            background-position: -648px -810px;
        }

    /** AWARDS SECTION **/
        .items
        {
            display: flex;
            flex-flow: row wrap;
            text-align: center;
            justify-content: center;
        }

        .items section
        {
            flex-shrink: 0;
        }

    /** VOLUNTEERING SECTION **/
        #nl_bg
        {
            background: url('/images/nl_bg.png');
            padding: 30px;
        }

        #nightline
        {
            color: white;
        }

        #susu_bg
        {
            background: url('/images/susu_bg.png') #e9eaed;
            padding-bottom: 94px;
            border-bottom: 5px solid #ed0677;
        }

        #susu_footer
        {
            height: 94px;
            background: url('/images/sprites.png') repeat-x bottom;
            background-position: 0px -972px;
            position: absolute;
            width: 100%;
        }

    /** FOOTER **/
        body > footer
        {
            box-shadow: black 0 0px 21px 0px;
            background: linear-gradient(#6fa5dd, #0D47A1);
            color: white;
            padding: 20px;
        }
        
        #pgp_popup, .human_name
        {
            display: none;
        }

        #social_media a
        {
            display: inline-block;
            width: 80px;
            color: white;
            text-decoration: none;
            margin: 25px 18px;
            vertical-align: text-top;
        }

        #social_media a span:not(.human_name)
        {
            background-image: url('/images/sprites.png');
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: black 4px 4px 20px 0px;
            width: 80px;
            height: 80px;
            display: block;
            margin-bottom: 10px;
        }

        #googleplus span:not(.human_name)
        {
            background-color: #c53012;
            background-position: -324px 0px;
        }

        #instagram span:not(.human_name)
        {
            background-color: #3d6c92;
            background-position: -648px 0px;
        }

        #twitter span:not(.human_name)
        {
            background-color: #2aa9df;
            background-position: -162px -162px;
        }

        #fb span:not(.human_name)
        {
            background-color: #3a5897;
            background-position: 0px 0px;
        }

        #email span:not(.human_name)
        {
            background-color: #3ea9f5;
            background-position: 0px -162px;
        }

        #linkedIn span:not(.human_name)
        {
            background-color: #0073a4;
            background-position: -810px 0px;
        }

        #github span:not(.human_name)
        {
            background-color: #333;
            background-position: -162px 0px;
        }

        #gravatar span:not(.human_name)
        {
            background-color: #0a76b7;
            background-position: -486px 0px;
        }
        
        #pgp span:not(.human_name)
        {
            background-color: #e9eaed;
            background-position: 0px -1296px;
        }
        
        #keybase span:not(.human_name)
        {
            background-color: #ff611c;
            background-position: -162px -1296px;
        }
        
        #ecs span:not(.human_name)
        {
            background-color: #005c84;
            background-position: -324px -1296px;
        }

        #stack span:not(.human_name)
        {
            background-color: #EAEAEA;
            background-position: -486px -1296px;
        }

        footer small a, footer small a:visited
        {
            color: white;
        }

        footer small a:hover
        {
            text-decoration: none;
        }
        
    /** BIG SITE ONLY STYLES **/
        @media (min-width: 781px)
        {
            section
            {
                padding: 30px;
            }

            main > section:not(.band)
            {
                padding-left: 0px;
                padding-right: 0px;
            }
            
            #sectionTitle
            {
                display: none;
            }

            a.button
            {
                width: calc(50% - 30px);
            }
        
            a.button:nth-child(even)
            {
                margin-left: 10px;
            }

            /** ME **/
                #me
                {
                    z-index: 4;
                    position: absolute;
                }

                #meHolder
                {
                    visibility: hidden;
                }

                #name_section h1
                {
                    font-size: 123px;
                }
                
                .inner header
                {
                    position: relative;
                }
            
            /** Hi, I'm Emily. **/
                .bg
                {
                    position: absolute;
                    font-family: "Courier New", monospace;
                    text-align: left;
                    font-size: 18px;
                    width: 500px;
                }

                #php_text
                {
                    top: 30px;
                    left: -110px;
                    width: 300px;
                }

                #java_text
                {
                    top: 150px;
                    left: -250px;
                }

                #smtp_text
                {
                    top: 330px;
                    left: -290px;
                }

                #c_text
                {
                    top: -130px;
                    left: -30px;
                }

                #dom_text
                {
                    top: -100px;
                    left: 370px;
                }

                #cpp_text
                {
                    top: 0px;
                    left: 550px;
                }

                #css_text
                {
                    top: 190px;
                    left: 510px;
                }

                #js_text
                {
                    top: 300px;
                    left: 630px;
                }

                #xml_text
                {
                    top: 530px;
                    left: 130px;
                }

            /** EXPERIENCE SECTION **/
                #experience_section
                {
                    position: relative;
                    overflow: hidden;
                }
                
                #exp_bg
                {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(to top right, #0D47A1, #95c9f3);
                    z-index: -1;
                    overflow: hidden;
                    color: #95c9f3;
                    font-family: "Courier New", monospace;
                    text-align: left;
                    text-shadow: 0 0 3px white;
                }
            
            /** EDUCATION SECTION **/
                #soton
                {
                    background: url('/images/edu_bg.jpg');
                    background-position: top center;
                    background-size: cover;
                    padding: 30px;
                }

                #education_section .items section
                {
                    width: 450px !important;
                }

                #theleys
                {
                    background: url('/images/leys_bg.png');
                    background-position: top center;
                    background-size: cover;
                    padding: 30px;
                }
            
            /** VOLUNTEERING **/
                #nl_logo
                {
                    float: right;
                    width: 400px;
                }
                
            /** CASUAL SECTION **/
                #walking
                {
                    background: url('/images/snowdonia.jpg') center;
                    background-size: cover;
                }

                #russia
                {
                    background: url('/images/russia.jpg') center;
                    background-size: cover;
                    padding: 20px;
                }
            
            /** CONTACT CARD **/
                #pgp_popup
                {
                    position: fixed;
                    padding: 30px;
                    top: 150px;
                    left: 60px;
                    right: 60px;
                    bottom: 60px;
                    background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
                    box-shadow: black 0 0px 21px 0px;
                    border: 4px ridge #c8d7dc;
                    border-radius: 20px;
                    z-index: 3;
                }
                
                #pgp_popup .label
                {
                    font-weight: bold;
                }
                
                #pgp_popup .label:after
                {
                    content: ": ";
                }
                
                #pgp_popup #copy_conf
                {
                    position: absolute;
                    opacity: 0;
                    animation-duration: 1s, 0.5s;
                    animation-iteration-count: 2;
                    animation-direction: alternate;
                }
                
                #pgp_popup div
                {
                    position: absolute;
                    bottom: 30px;
                    top: 220px;
                    left: 30px;
                    right: 30px;
                }
                
                #pgp_popup div textarea
                {
                    height: 100%;
                    width: 490px;
                    overflow-y: scroll;
                }
                
                #pgp_close
                {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
                    border: 2px inset #c8d7dc;
                    border-radius: 50%;
                    width: 60px;
                    height: 56px;
                    display: block;
                    text-decoration: none;
                    color: red;
                    font-size: 40px;
                    padding-top: 4px;
                }
        }
    
    /** MOBILE TWEAKS **/
        @media (max-width: 780px)
        {
            html
            {
                font-family: Karla, sans-serif;
                font-size: 16px;
            }
            
            h1
            {
                margin: 0;
            }
            
            #linkHolder, #me, .bg, #exp_bg
            {
                display: none;
            }
        
            /** SECTIONS **/
                section section
                {
                    width: 100% !important;
                    margin: 10px 0 !important;
                }

                main > section:not(.band):not(#name_section)
                {
                    background: radial-gradient(circle farthest-corner, #95c9f3, #0d47a1) center;
                }
                
                #sectionTitle
                {
                    position: fixed;
                    top: 32px;
                    left: 30px;
                    z-index: 7;
                    color: white;
                    font-size: 20px;
                }
                
                #nightline, #nl_bg
                {
                    box-sizing: border-box;
                    padding: 10px !important;
                }
                
                #nl_logo
                {
                    height: 75px;
                }
                
                section:not(#volunteering_section), #susu_bg
                {
                    padding: 20px !important;
                }

                a.button
                {
                    margin-top: 10px;
                    box-sizing: border-box;
                    width: 100%;
                }
            
            /** MENU **/
                #menuBar
                {
                    width: 75%;
                    left: -80%;
                }
        }
}

/** PRINT STYLES **/
    @media print
    {
        /** HIDDEN ITEMS **/
        nav, #me, #intro, #menu, #menuBar, #sectionTitle, .bg, #exp_bg, #pgp_popup, main ~ footer small
        {
            display: none;
        }
            
            h1
            {
                page-break-after: avoid !important;
            }
            
            section
            {
                page-break-inside: avoid;
            }

        /** NAME SECTION **/
            #meHolder
            {
                border-radius: 50%;
                width: 200px;
                float: left;
            }

            #name_section
            {
                text-align: center;
            }

            #name_section header
            {
                position: relative;
                top: 30px;
            }

            #name_section h1
            {
                clear: none !important;
                page-break-before: avoid !important;
            }

        /** INTRO SECTION **/
            #intro_section
            {
                clear: both;
                margin-top: 120px;
            }

            #print_msg
            {
                position: absolute;
                bottom: 0px;
                font-size: 14px;
                text-align: center;
            }

        /** SKILLS SECTION **/
            #skills_section
            {
                margin-top: 20px;
            }

            #skills_section h2
            {
                margin-top: 10px;
                text-align: center;
            }

            .skillHolder
            {
                text-align: center;
            }

            .skillHolder div
            {
                display: inline;
            }

            .skillHolder div:not(:last-of-type):after
            {
                content: " · ";
            }

        /** NL **/
        #nl_logo
        {
            height: 75px;
            float: right;
            -webkit-print-color-adjust: exact;
            background: url('/images/nl_bg.png');
        }
        
        /** CONTACT ME **/
            #social_media a
            {
                font-weight: bold;
                display: block;
            }

            #social_media .human_name:before
            {
                content: ": ";
                font-weight: bold;
            }

            #social_media .human_name
            {
                font-weight: normal;
            }

        /** LINKS **/
            a
            {
                color: black;
                text-decoration: none;
            }

            main a:not([href^="#"]):not(.button):not(.ignore_link):after
            {
                content: " [" attr(href) "]";
                font-style: normal;
            }

            main a.button
            {
                display: block;
                margin-top: 10px;
            }

            main a.button:after
            {
                content: " at " attr(href) ".";
                font-style: normal;
            }

            main a.button[href^="/"]:after
            {
                content: " at https://emilyshepherd.me" attr(href) ".";
            }

            main a.button:before
            {
                content: "You can ";
            }
            
        /** SECTIONS **/
            .pic_area img
            {
                float: right;
            }
    }
