@css style
@title Emily Shepherd

<div class="bar">
  <nav class="page_width">

  </nav>
</div>
<header class="page_width">
  <img src="emily.jpg" alt="Emily Shepherd" class="img_icon large" />
  <div class="box side_bar">
    &nbsp;
  </div>
  <div class="title">
    <span class="box heading">
      <h1>Emily Shepherd</h1>
      <ul class="subtle">
        <li>Web Developer and Owner of SWEEB</li>
        <li>Reading Computer Science at the University of Southampton</li>
        <li>Alexander.Shepherd@Gmail.com</li>
      </ul>
    </span>

    <span class="box">
      Text
    </span>
  </div>
</header>

<div class="page_width main">
  {content}
</div>