@css style
@title Emily Shepherd

<div class="bar">
  <nav class="page_width">

  </nav>
</div>
<header class="page">
  <div class="page_width">
    <img src="emily.jpg" alt="Emily Shepherd" class="img_icon large" />
    <div class="title">
      <div class="heading">
        <h1>Emily Shepherd</h1>
        <ul class="subtle">
          <li>Web Developer and Owner of SWEEB</li>
          <li>Reading Computer Science at the University of Southampton</li>
          <li>
            <a href="mailto:Alexander.Shepherd@Gmail.com">
              Alexander.Shepherd@Gmail.com</a>
          </li>
        </ul>
      </div>

      <div class="social">
        <a href="http://www.facebook.com/StupidShep" target="_blank">
          <img src="http://me.sweeb.net/social/Facebook.png" alt="Facebook"/></a>
        <a href="http://www.twitter.com/#!/StupidShep" target="_blank">
          <img src="http://me.sweeb.net/social/Twitter.png" alt="Twitter"/></a>
        <a href="https://plus.google.com/u/0/111629088428160104525/posts?hl=en" rel="author" target="_blank">
          <img src="http://me.sweeb.net/social/GPlus.png" alt="Google Plus"/></a>
        <a href="http://www.ecs.soton.ac.uk/people/ams2g11" target="_blank">
          <img src="http://me.sweeb.net/social/ecs.png" alt="ECS" style="margin: 0;"/></a>
      </div>
    </div>
  </div>
</header>

<div class="page_width main">
  {content}
</div>