@css style
@title Emily Shepherd

<div class="bar">
  <nav class="page_width">

  </nav>
</div>
<header class="page">
  <div class="page_width">
    <div class="title">
      <div class="heading">
        <h1>Emily Shepherd</h1>
        <ul class="subtle">
          <li>Web Developer</li>
          <li>Computer Scientist</li>
          <li>Student Activist</li>
        </ul>
      </div>
    </div>
    <div class="side">&nbsp;
      <img src="emily.jpg" alt="Emily Shepherd" class="img_icon large" />
    </div>
  </div>
</header>

<div class="page_width">
  <div class="main">
    {content}
  </div>
  <div class="box side_bar">
    Hi! I'm Emily - an eager Computer Scientist and Student Activist. I
    am currently reading Computer Science at the University of
    Southampton, where I am also heavily involved in the Students'
    Union. On the side, I do professional web development via my
    company, <a href="http://www.sweeb.net/">SWEEB</a>.
  </div>
</div>